In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-07-19 15:46:59,-33.9258,18.4232,56.10,92,90,3.00
1,1,Genc,TR,2021-07-19 15:46:59,38.7507,40.5603,94.05,15,2,8.37
2,2,Lebu,CL,2021-07-19 15:46:59,-37.6167,-73.6500,54.88,66,47,13.78
3,3,Saint-Augustin,CA,2021-07-19 15:47:00,51.2260,-58.6502,74.52,50,100,16.15
4,4,Souillac,MU,2021-07-19 15:47:00,-20.5167,57.5167,73.36,78,75,16.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
#can use list comprehension in heat_layer row 9 below instead of =temps
#weights=[max(temp, 0) for temp in max_temp])

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Axim,GH,2021-07-19 15:47:02,4.8699,-2.2405,77.54,76,100,7.74
12,12,Bathsheba,BB,2021-07-19 15:47:10,13.2167,-59.5167,86.61,70,40,26.46
14,14,Jamestown,US,2021-07-19 15:45:00,42.0970,-79.2353,78.12,71,75,3.00
15,15,Batabano,CU,2021-07-19 15:47:11,22.7164,-82.2881,86.61,62,80,9.69
16,16,Nouadhibou,MR,2021-07-19 15:47:11,20.9310,-17.0347,75.18,78,74,23.02
17,17,Jiwani,PK,2021-07-19 15:47:12,25.0500,61.7417,86.29,85,92,18.10
18,18,Hithadhoo,MV,2021-07-19 15:47:12,-0.6000,73.0833,83.21,67,100,4.83
21,21,Plerin,FR,2021-07-19 15:47:13,48.5425,-2.7798,85.75,66,0,7.00
27,27,Saint-Francois,FR,2021-07-19 15:47:15,46.4154,3.9054,85.44,35,0,14.97
33,33,Victoria,HK,2021-07-19 15:42:52,22.2855,114.1577,82.38,91,100,5.99

In [25]:
preferred_cities_df.count()

City_ID       237
City          237
Country       237
Date          237
Lat           237
Lng           237
Max Temp      237
Humidity      237
Cloudiness    237
Wind Speed    237
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
9             Axim      GH     77.54   4.8699   -2.2405
12       Bathsheba      BB     86.61  13.2167  -59.5167
14       Jamestown      US     78.12  42.0970  -79.2353
15        Batabano      CU     86.61  22.7164  -82.2881
16      Nouadhibou      MR     75.18  20.9310  -17.0347
17          Jiwani      PK     86.29  25.0500   61.7417
18       Hithadhoo      MV     83.21  -0.6000   73.0833
21          Plerin      FR     85.75  48.5425   -2.7798
27  Saint-Francois      FR     85.44  46.4154    3.9054
33        Victoria      HK     82.38  22.2855  114.1577

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Axim,GH,77.54,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
12,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
14,Jamestown,US,78.12,42.0970,-79.2353,Hampton Inn & Suites Jamestown
15,Batabano,CU,86.61,22.7164,-82.2881,
16,Nouadhibou,MR,75.18,20.9310,-17.0347,El Medina
17,Jiwani,PK,86.29,25.0500,61.7417,Al Mumtaz Transport Jiwani
18,Hithadhoo,MV,83.21,-0.6000,73.0833,Scoop Guest House
21,Plerin,FR,85.75,48.5425,-2.7798,Hotel Ker Izel
27,Saint-Francois,FR,85.44,46.4154,3.9054,Manoir Du Bonheur
33,Victoria,HK,82.38,22.2855,114.1577,Mini Hotel Central

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))